body {
    margin: 0;
    padding-top: 60px;

    background-image: url("pleh/blight.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: Arial, sans-serif;
}

ul {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;

    background-color: black;

    position: fixed;
    top: 0;
    width: 100%;
}

li a {
    display: block;

    color: white;

    padding: 14px 20px;

    text-decoration: none;
}

li a:hover {
    background-color: #31ae3e;
}

section {
    min-height: 500px;
    padding: 20px;
}



#homepage {
    padding-top: 20px;
    text-align: center;
}

#plastic {
    width: 850px;
    height: auto;

    display: block;
    margin: 300px auto 0;
}

.hero {
    position: relative;
    display: inline-block;
    text-align: center;
}



.hero {
    position: fixed;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}







