body {
 background-image: url("pleh/blight.png");
  background-size:100% 100% ;
   background-repeat: no-repeat;
  background-attachment: fixed

}


<html>
<head>
<style>
    {
  width: 46px;
  height: 44px;
  background-image: url("pleh/Autosaved.png");
  background-position: 0 0;
}
</style>
</head>
<body>

<img id="plastic" src="pleh/Autosaved.png" width="1" height="1">

</body>
</html>








